s1.mp3
s1.wav
s2.mp3
test.wav
__pycache__/
app.db
downloads/
venv/
app/__pycache__/__init__.cpython-38.pyc
app/__pycache__/forms.cpython-38.pyc
app/__pycache__/models.cpython-38.pyc
app/__pycache__/routes.cpython-38.pyc