{% extends "base.html" %}

{% block content %}

     <div style="border: 2px solid black; width: 600px; margin-left: 450px;  background-color: aliceblue; background-image: url(675604.jpg); border-radius: 25px; text-align: center; margin-top: 50px; height: 230px;" >
        <br><h1>Download your video file here</h1>
        <br><br>
        <div >
         <a href="/return-files/{{value}}" target="blank" ><button class='btn btn-default' style="border: 2px solid black;  text-align: center;" >Download</button></a>
        </div>
     </div>
{% endblock %}
